.idea
.DS_Store
*.iml
venv
.terraform
*egg-info
dist
*.aws.yml
dist
dist.zip
*.dynamo
all-in.json
all-out.json
node_modules
/tmp
*.pyc
.pip
*.tar.bz2
node_modules
package-lock.json
yarn.lock
*.txt
__debug_bin

# Nomad project related
swagger_python_server
swagger_python_client/
swagger_client/
#swagger_server/
#nomad_cbec_id_cli/
odoo_client_test/env.sh
nomad_javascript_client/
nomad_javascript_client
nodejs_client_test_cbec/
env.sh
tests/nomad_java_client
tests/swagger_javascript_client
nomad_cbec_id_cli/
# Nomad-envoy related
*.jpg
*.log
.fun


# Java
target
*.class
*.jar
